<div class="flex flex-row w-full h-screen">
    <!-- Course List -->
    <div class="flex-[2] flex flex-col border-r-2 border-black">
        <!-- Welcome Header -->
        <div>
            <app-animated-text 
                text="Welcome back..." 
                class="font-cabin text-xl italic"
                [enabled]="true"
                (finished)="onTextFinished($event)"
            >
            </app-animated-text>
            <p *ngIf="textFinished" [@fade]="textFinished" class="font-raleway text-gray-600 text-2xl ml-[1rem] mt-[0.25rem]">{{user.firstName}} {{user.lastName}}</p>
        </div>
        <!-- Courses Body -->
        <div>
            <div *ngFor="let course of courses" class="bg-dimWhite rounded-md w-[80%] mx-[1rem] p-[0.5rem]">
                <span class="font-cabin font-semibold text-sm">{{course.title}}</span>
                <span>{{course.teacher}}</span>
            </div>
        </div>
    </div>
    <!-- Calendar -->
    <div class="flex-[3] flex flex-row">

    </div>
</div>