<div class="flex flex-row w-full h-screen">
    <!-- Course List -->
    <div class="flex-[2] flex flex-col border-r-2 border-black">
        <!-- Welcome Header -->
        <div>
            <app-animated-text 
                text="Welcome back..." 
                class="font-raleway text-4xl"
                [enabled]="true"
                (finished)="onTextFinished($event)"
            >
            </app-animated-text>
            <p class="font-cabin font-bold text-gray-600 text-3xl ml-[4rem] mt-[0.5rem]">{{user.firstName}} {{user.lastName}}</p>
        </div>
        <!-- Courses Body -->
        <div>

        </div>
    </div>
    <!-- Calendar -->
    <div class="flex-[3] flex flex-row">

    </div>
</div>