.courses::-webkit-scrollbar {
    display: none;
}

.calendarDay {
    background-color: rgb(238 238 238);
    box-shadow: 0 0 #0000;
    transition: all 250ms linear;
}

.calendarDay:hover {
    background-color: rgb(210 210 210);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}