<div class="flex flex-col w-full h-screen">
    <!-- Calendar Container -->
    <!-- This calendar wrapper was added to give padding to the calendar body while seamlessly
        connecting the calendar container to the navbar -->
    <div class="flex flex-row h-[45vh] bg-richBlack px-[6rem]">
        <!-- Calendar Body -->
        <div class="calendar-background w-full h-full">
            <p id="movetxt" class="text-4xl font-fjalla text-white">Test test test</p>
        </div>
    </div>
</div>