<section id="footer" class="{{styles.flexCenter}} flex-col bg-primary p-5">
    <div class="w-5/6">
        <!-- Logo and Links Content-->
        <div class="{{styles.flexStart}} md:flex-row flex-col w-full">
            <!-- Logo -->
            <div class="flex-[2]">
                <img src="assets/img/edify-logo-white.png" alt="edify" class="w-[301px] h-[70px] leading-[27px]">
                <p class="text-dimWhite text-lg font-raleway">The future of education software.</p>
            </div>
            <!-- Links -->
            <div class="flex-[2.5] flex flex-row justify-between flex-wrap">
                <div class="flex-1/3 flex flex-col mt-[10px]" *ngFor="let footerCategory of footerLinksList">
                    <h4 class="font-bold text-dimWhite text-lg">{{footerCategory.title}}</h4>
                    <a href="{{footerLink.link}}" *ngFor="let footerLink of footerCategory.links" class="text-dimWhite font-raleway mt-2">
                        {{footerLink.name}}
                    </a>
                </div>
            </div>
        </div>

        <!-- Copyright Content and Social Media -->
        <div class="w-full flex md:flex-row flex-col pt-6 border-t-[1px] border-t-dimWhite place-content-between px-[20px] mt-[20px]">
            <p class="text-dimWhite">Copyright &copy; Edify, Inc. All Rights Reserved.</p>
            <!-- Social Media -->
            <div class="flex flex-row">
                <div *ngFor="let socialMedia of socialMediaList" id="{{socialMedia.id}}">
                    <img src="{{socialMedia.icon}}" alt="{{socialMedia.id}}" class="h-[48px] w-[48px] object-contain cursor-pointer ml-2"/>
                </div>
            </div>
        </div>
    </div>
</section>