<div class="flex flex-col px-[0.5rem] py-[0.5rem] border-2 mb-[0.75rem] rounded-lg bg-white border-white shadow-sm hover:shadow-xl">
    <div (click)="onClick()" class="flex flex-row items-center justify-between rounded-md border-2 bg-richBlack border-richBlack w-full p-[0.75rem] cursor-pointer">
        <p class="text-dimWhite text-xl font-semibold inline-block">{{module.title}}</p>
        <i *ngIf="module.assignments.length" class="fas fa-chevron-left justify-end inline-block text-dimWhite mr-[1rem]" [@rotate]="moduleExpanded ? 'rotated' : 'default'"></i>
    </div>
    <div *ngIf="moduleExpanded && module.assignments.length" [@moduleAnimation] class="mt-[0.5rem]">
        <app-assignment-unit 
            *ngFor="let assignment of module.assignments; let i=index"
            (click)="onAssignmentClick(assignment.assignmentId)"
            [assignment]="assignment"
            [score]="getScoreOfAssignment(assignment.assignmentId)"
        ></app-assignment-unit>
    </div>
</div>