<div class="flex flex-col w-full h-screen">
    <!-- Title and Important Information -->
    <div>
        <h1 class="font-cabin font-bold text-3xl mb-[1.5rem]">{{assignment.title}}</h1>
        <span class="flex flex-row space-x-[2rem] py-[1rem] border-y-2 border-richBlack">
            <div class="font-raleway">
                <span class="font-bold font-cabin mr-[1rem]">Due:</span> {{convertDateToString(assignment.dueAt)}}
            </div>
            <div class="font-raleway">
                <span class="font-bold font-cabin mr-[1rem]">Points:</span> {{assignment.pointsPossible}}
            </div>
            <div class="font-raleway">
                <span class="font-bold font-cabin mr-[1rem]">Submitting:</span> File
            </div>
        </span>
    </div>
    <!-- Content -->
    <div class="mt-[1rem] font-raleway min-h-[5rem] border-2 rounded-md border-richBlack p-[0.75rem]">
        <p class="font-bold font-cabin mr-[1rem] mb-[0.5rem]">Description:</p>
        <p>{{assignment.description}}</p>
    </div>
    <app-custom-button [title]="submitTitle" class="mt-[2rem]"></app-custom-button>
</div>