<a 
    [routerLink]="navLink" 
    [routerLinkActive]="'active'"
    (mouseover)="isOver=true" (mouseout)="isOver=false"
    [@hoverOnOff]="isOver ? 'on' : 'off'"
    *ngIf="!subitems || subitems?.length === 0"
    class="flex flex-row p-[0.5rem] m-[0.5rem] rounded-lg text-center items-center"
>
    <i [@hoverOnOffChild]="isOver ? 'on' : 'off'" class="text-[25px] mx-0 my-[0.25rem] w-[2rem] min-w-[2rem] text-white text-center items-center navbar-item-active" [class]="navIcon"></i>
    <span [@hoverOnOffChild]="isOver ? 'on' : 'off'" [@fade]="expanded ? 'in' : 'out'" class="font-raleway text-xl text-white navbar-item-active ml-[1.75rem]">{{navName}}</span>
</a>
<div *ngIf="subitems && subitems?.length !== 0">
    <!-- Extra parent div to keep the margin between main nav links and include the subnav links -->
    <div class="m-[0.5rem]">
        <div
        (mouseover)="isOver=true" (mouseout)="isOver=false"
        [@hoverOnOff]="isOver ? 'on' : 'off'"
        (click)="toggleExpandSubLinks()"
        class="flex flex-row p-[0.5rem] rounded-lg items-center cursor-pointer"
        >
            <i [@hoverOnOffChild]="isOver ? 'on' : 'off'" class="text-[25px] mx-0 my-[0.25rem] w-[2rem] min-w-[2rem] text-white text-center items-center navbar-item-active" [class]="navIcon"></i>
            <span [@hoverOnOffChild]="isOver ? 'on' : 'off'" [@fade]="expanded ? 'in' : 'out'" class="font-raleway text-xl text-white navbar-item-active ml-[1.75rem]">{{navName}}</span>
        </div>
        <!-- If the navbar is collapsed, don't render/expand the subnavs -->
        <app-sub-nav-link *ngFor="let subnav of subitems" [navbarExpanded]="expanded" [subExpanded]="(isSubLinksExpanded && expanded)" [subnav]="subnav"></app-sub-nav-link>
    </div>
</div>