<div class="{{styles.flexCenter}} flex-col bg-[url('assets/img/mountains.jpeg')] w-full h-screen">
  <!-- Logo -->
  <div class="block sm:hidden flex bg-dimWhite p-[1.5rem] w-full border-b-[1px] border-b-primary">
    <img src="assets/img/edify-logo-transparent.png" alt="Edify Logo" class="h-[50px]" />
  </div>
  <div class="hidden sm:block flex mt-[4rem] p-[2rem]">
    <img src="assets/img/edify-logo-transparent.png" alt="Edify Logo" class="h-[100px]" />
  </div>
  <!-- Login Form -->
  <div class="flex flex-col mt-[4rem] mx-auto mb-[15rem] w-[90%] sm:w-[45rem] mx-auto bg-dimWhite rounded-md px-[3.5%] py-[2.5%]">
    <div class="">
      <!-- Header -->
      <div class="{{styles.flexCenter}} w-full mb-[2rem]">
        <h1 class="font-medium font-raleway text-2xl sm:text-3xl">Sign in with your Edify Email</h1>
      </div>
      <!-- Input Space -->
      <div class="flex flex-col">
        <input type="text" placeholder="Your Edify Email" class="rounded-md w-full p-[10px] pl-[7px]" #email />
        <input type="password" placeholder="Your Edify Password" class="rounded-md mt-[1.5rem] w-full p-[10px] pl-[7px]" #password />
      </div>
      <!-- Sign-in -->
      <div class="flex flex-row pt-[0.75rem] mt-[0.75rem]">
        <div class="flex-[1]">
          <button (click)="onLogin(email.value, password.value)" class="bg-primary text-dimWhite font-raleway px-[1rem] py-[0.75rem] rounded-md">
            Sign in
          </button>
        </div>
        <div class="flex-[1.5] font-raleway space-y-[0.25rem]">
          <p>Forgot your <a href="#" class="text-purple-600">Edify Logon</a> or <a href="#" class="text-purple-600">Password</a>?</p>
          <p>Need an <a href="#" class="text-purple-600">Edify Logon</a>?</p>
        </div>
      </div>
    </div>
  </div>
</div>