<div [ngClass]="expanded ? 'navbar-expanded' : 'navbar-collapsed'" class="flex flex-col h-[100vh] bg-richBlack z-1 absolute">
    <!-- Logo -->
    <div class="flex items-center m-[1rem] items-center">
        <div class="bg-white rounded-lg p-[0.75rem] cursor-pointer" (click)="toggleNavbar()">
            <img src="assets/img/edify-icon-black.png" alt="icon" class="w-[30px] h-[30px] min-w-[30px] min-h-[30px]" />
        </div>
        <p [@fade]="expanded ? 'in' : 'out'" class="font-raleway font-semibold text-white text-4xl ml-[1.5rem]">Edify</p>
    </div>
    <!-- Menu -->
    <div class="mx-[0.5rem] overflow-hidden">
        <app-nav-link *ngFor="let navElement of navElements" [navIcon]="navElement.icon" [navLink]="navElement.link" [navName]="navElement.name" [expanded]="expanded" [subitems]="navElement.subitems"></app-nav-link>
    </div>
</div>