<div class="flex flex-col w-[18.125rem] h-[100vh] bg-richBlack z-1 absolute">
    <!-- Logo -->
    <div class="flex flex-row m-[1rem] items-center">
        <div class="bg-white rounded-lg p-[0.75rem]">
            <img src="assets/img/edify-icon-black.png" alt="icon" class="w-[30px] h-[30px]" />
        </div>
        <div class="ml-[1.5rem]">
            <p class="font-raleway font-semibold text-white text-4xl">Edify</p>
        </div>
    </div>
    <!-- Menu -->
    <div class="mx-[0.5rem]">
        <a [routerLink]="navElement.link" [routerLinkActive]="'bg-white'" class="flex flex-row p-[0.5rem] m-[0.5rem] rounded-lg items-center" *ngFor="let navElement of navElements">
            <i class="text-[25px] w-[3rem] min-w-[2rem] mx-0 my-[0.25rem] items-center" [class]="navElement.icon"></i>
            <h3 class="font-raleway text-xl">{{navElement.name}}</h3>
        </a>
    </div>
</div>