<!-- Sublink container -->
<div *ngIf="subExpanded">
    <!-- Sublink element -->
    <div *ngFor="let sublink of items" class="ml-[2.25rem] my-[0.75rem]">
        <!-- If sublink is last sublink of element-->
        <a [routerLink]="sublink.link" *ngIf="!sublink.subitems || (sublink.subitems.length === 0)">
            <span class="text-dimWhite font-roboto text-lg">{{sublink.name}}</span>
        </a>
        <!-- If sublink is not last sublink of element -->
        <div *ngIf="sublink.subitems && (sublink.subitems.length !== 0)">
            <span class="text-dimWhite font-roboto text-lg cursor-pointer" (click)="toggleNestedSubLinksExpanded()">{{sublink.name}}</span>
            <app-sub-nav-link [items]="sublink.subitems" [subExpanded]="isNestedSubLinksExpanded"></app-sub-nav-link>
        </div>
    </div>
</div>